{% extends 'layout.html.twig' %}
{% set active = 'teammates' %}

{% block content %}

    <div class="container-fluid">

        <div class="col-lg-6 page-action-bar page-title">
            Teammates list
        </div>

        <div class="col-lg-6 page-action-bar">
            <a href="/teammanager/web/teammate/create"><i class="fa fa-plus-circle"></i> Create a teammate</a>
        </div>

        {% if teammates is empty %}
            <div class="col-lg-12 title">
                You have no teammates :(
            </div>
            <div class="col-lg-12 subtitle">
                Click <a href="/teammanager/web/teammate/create">here</a> to create one
            </div>
        {% else %}
            {% for teammate in teammates %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
                    <div class="card">
                        <div>
                            <strong>{{ teammate.firstname }}</strong>
                        </div>
                        <div>
                            <strong>{{ teammate.lastname }}</strong>
                        </div>
                        <div>
                            <i class="fa fa-envelope"></i>
                            {{ teammate.email }}
                        </div>
                        <div>
                            <i class="fa fa-phone"></i>
                            {{ teammate.phone }}
                        </div>
                        <hr>
                        <div class="btn-actions">
                            <a class="btn btn-danger need-confirmation" href="/teammanager/web/teammate/{{ teammate.id }}/delete"><i class="fa fa-trash-o"> Delete</i></a>
                            <a class="btn btn-primary" href="/teammanager/web/teammate/{{ teammate.id }}"><i class="fa fa-pencil-square-o"> Edit</i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>


{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script type="text/javascript">
        $( document ).ready(function() {
            $('.need-confirmation').on('click', function (e) {
                var link = this;

                e.preventDefault();

                bootbox.confirm("This action is irreversible. Are you sure?", function(result) {
                    if (result)
                        window.location = link.href;
                });
            });
        });

    </script>

{% endblock %}